name: push-and-prs-on-main

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: macos-26

    steps:
    - uses: actions/checkout@v5
    - name: Switch to Xcode 15.4
      run: sudo xcode-select -s "/Applications/Xcode_26.0.app/Contents/Developer"
    - name: Build
      run: xcodebuild -verbose -scheme carnival
